<title>About</title>

{% extends 'mainapp/base.html' %}

{% block content%}
{% load static %}


  <div class="about-container">
    <h4 style="text-align: center; text-decoration: underline; padding-bottom: 5px;">Little about DBS</h4>
        <p style="font-size: 13px; text-align: justify; font-style: italic;">
          DBS- Datu Blah Sinsuat is  one of the municipality in the province of Maguindanao, Philippines. According to the 2015 census, it has a population of 25,024 people and
          formerly as part of the town of Upi, DBS became another municipality after a plebiscite on September 16, 2006. On October 28, it became a new municipality of the newly created Shariff Kabunsuan province until its nullification by the Supreme Court in July 2008 and the orphaned municipality was absorbed by the province of Maguindanao. <br> <span>-source Wikipedia</span>
       <br><br>
         <span>
          DBS is one of the remarkable coastal provinces of the Philippines and it is politically subdivided into 13 barangays and among them is Barangay Sedem which enclaves several sitios and our dearly sitio Mompong is the most inhabited sitio of them for that reason it has been named "mompong" which means "congregation". Fishing and farming are the main livelihoods of its people.
        </span>
        </p>
  
  </div>

  <div class="card">
    <h3 class="text-center text-decoration-underline">Contacts</h3>
    <table class="table">
      <thead>
        <tr>
          
          <th scope="col">Name</th>
          <th scope="col">Position</th>
          <th scope="col">Contact</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>H. Mohammad Iskak</td>
          <td>Vice President</td>
          <td>123456789</td>
        </tr>
        <tr>
          <td>Mustapha Salik</td>
          <td>Treasurer (Admin)</td>
          <td>123456789</td>
        </tr>
        <tr>
         
          <td>Us. Amerah Guiabal</td>
          <td>Adviser(Admin)</td>
          <td>123456789</td>
        </tr>
        
      </tbody>
    </table>




</div>

    


        


{% endblock %}
